.ui-console {
  /*
  font-size: 12px;
  */
  font-family: Consolas, "courier new";
  font-family: "Courier New", Courier, monospace;
}

.ui-console-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.ui-console-item {
  padding: 0.5rem;
  white-space: pre;
  border-style: solid;
  border-width: 0;
  border-left-width: 0.5rem;
  margin-bottom: 1px;
}

.ui-console-item:hover {
  margin-bottom: 0;
  border-bottom-width: 1px;
}

.ui-console-button-expand {
  border: 1px solid #000;
  width: 0.6rem;
  overflow: hidden;
  height: 0.5rem;
  padding-top: 0.1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 0.2rem;

}

.ui-console-clickable {
  cursor: pointer;
}

.ui-console-item-info {
  border-color: #aaaaaa;
  background-color: #dddddd;
}

.ui-console-item-log {
  border-color: #eeeeee;
  background-color: #ffffff;
}

.ui-console-item-warning {
  border-color: #ffee00;
  background-color: #ffffee;
}

.ui-console-item-error {
  border-color: #ff0000;
  background-color: #ffeeee;
}

.ui-console-item-success {
  border-color: #00aa00;
  background-color: #eeffee;
}
